<launch>
  <node
    pkg="rqt_reconfigure"
    type="rqt_reconfigure"
    name="rqt_reconfigure"
 ></node>
  <node
    pkg="line_ros_utility"
    type="scenenet_to_line_tools"
    name="scenenet_to_line_tools"
    output="screen"
 ></node>
  <node
    pkg="line_ros_utility"
    type="detect_cluster_show"
    name="detect_cluster_show"
    output="screen"
 ></node>
 <node
   pkg="scenenet_ros_tools"
   type="pointcloud_publisher.py"
   name="pointcloud_publisher"
   output="screen"
 ></node>
</launch>
