<launch>
  <param name="/cluster_and_show/KMeansNumberOfClusters" value="5" type="int"/>
  <node
    pkg="line_clustering"
    type="cluster_and_show"
    name="cluster_and_show"
    output="screen"
 ></node>
 <node
   pkg="scenenet_ros_tools"
   type="pointcloud_publisher.py"
   name="pointcloud_publisher"
   output="screen"
 ></node>
</launch>
