matplotlib~=3.2.1
numpy~=1.18.2
opencv-python~=4.2.0.32
open3d-python
pandas~=1.0.3
pathlib
Pillow
scipy
sklearn
tensorflow~=2.1.0
tensorboard
pptk
pyyaml~=5.3.1
python-dateutil>=2.5.0
transforms3d

tensorflow-gpu~=2.1.0
scikit-learn~=0.22.2.post1
open3d~=0.9.0.0
Keras~=2.3.1
numba~=0.48.0